:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --main-bg-color: #ffffff;
  --accent-color: #4d5ae5;
  --tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 426px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* heder */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu-link,
.address-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-list {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  display: block;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color var(--tra);
}

.menu-link.emphasis::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: "";
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  bottom: -1px;
}

.emphasis {
  position: relative;
  color: #404bbf;
}
.menu-item {
  margin-right: 40px;
}

.menu-item:last-child {
  margin-right: 0;
}

.address-item {
  margin-right: 40px;
}

.address-item:last-child {
  margin-right: 0;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color var(--tra);
}

.address {
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Hero */

.hero {
  max-width: 468px;
  margin: 0 auto;
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 112px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob-2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;

  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;

  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--tra);
}

.modal-btm:hover,
.modal-btm:focus,
.hero-btn:hover,
.hero-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* About */
.about {
  padding-top: 96px;
  padding-bottom: 96px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.about-icons {
  display: none;
}

.about-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  margin-bottom: 8px;
}

.about-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Projekt */

.projekt {
  display: none;
}

.team-title,
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);

  margin-bottom: 72px;
}

/* Team */

.team > .container {
  max-width: 294px;
}

.team {
  background-color: #f4f4fd;

  padding-top: 96px;
  padding-bottom: 96px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  margin-bottom: 8px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item,
.footer-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link,
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--tra);
}

.soc-icons {
  fill: #f4f4fd;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

.caption-team-img {
  padding: 32px 16px;
}

/* Customers */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;

  transition: color var(--tra), border-color var(--tra);
}

.customers-icons {
  fill: currentcolor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

/* Footer */

.footer {
  background-color: var(--secondary-text-color);

  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.studio {
  color: #f4f4fd;
}

.logo-footer {
  display: block;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-right: auto;
  margin-left: auto;
  width: 268px;
}

.footer-soc-text,
.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;

  margin-bottom: 16px;
  text-align: center;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color var(--tra);
}

.footer-input:focus,
.footer-input:hover {
  border-color: #4d5ae5;
}

.footer-input::placeholder {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  min-width: 165px;

  padding: 8px 24px;

  transition: background-color var(--tra);
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
}

.footer-btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.footer-btn:focus,
.footer-btn:hover {
  background-color: #404bbf;
}

/* Gallery */

.gallery {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}

.gallery-nav-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: #f4f4fd;
  cursor: pointer;

  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: color var(--tra), background-color var(--tra),
    border-color var(--tra), box-shadow var(--tra);
}

.gallery-nav-btn:hover,
.gallery-nav-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery-list-item {
  width: calc((100% - 2 * 24px) / 3);
}

.gallery-link:hover .gallery-cover-text,
.gallery-link:focus .gallery-cover-text {
  transform: translateY(0);
}

.gallery-link {
  display: block;
  transition: box-shadow var(--tra);
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--tra);
}

.gallery-cover {
  position: relative;
  overflow: hidden;
}

.gallery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  margin-bottom: 8px;
}

.gallery-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.caption-gallerry-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Modal */

.backdrop {
  position: fixed;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  transition: opacity var(--tra), visibility var(--tra);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--tra);
  width: 95%;
  max-width: 392px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -100%) scalex(0.7);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;

  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  transition: background-color var(--tra), border var(--tra);
  fill: #2e2f42;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close-icon {
  transition: fill var(--tra);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-field {
  margin-bottom: 8px;
}

.form-field-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-wraper {
  position: relative;
}

.modal-input {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #8e8f99;
  background-color: transparent;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color var(--tra);
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill var(--tra);
}

.form-field-textarea {
  margin-bottom: 16px;
}

.textarea {
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color var(--tra);
}

.modal-input:focus,
.textarea:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.chec-wrap {
  margin-bottom: 24px;
}

.chec-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.chec-text-link {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
}

.chec-icon-wrap {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color var(--tra), border var(--tra), fill var(--tra);
}

.chec-input:checked + .chec-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-btm {
  height: 56px;
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  display: block;
  margin: auto;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--tra);
}
